PORT=8080
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=duty_user
DB_PASSWORD=duty_pass
DB_NAME=duty_db

MQ_URL=amqp://guest:guest@localhost:5672
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=miniopass
MINIO_BUCKET=roster-images
