PORT=8080
NODE_ENV=development

DB_HOST=mysql
DB_PORT=3306
DB_USER=duty_user
DB_PASSWORD=duty_pass
DB_NAME=duty_db

MQ_URL=amqp://guest:guest@rabbitmq:5672
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=miniopass
MINIO_BUCKET=roster-images
